@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.socket {
  position: absolute;
  top: 50%;
  left: 25px;
  width: calc(100% - 50px);
  transform: translateY(-50%);
  @include flex(center, center);
  flex-direction: column;
  h1 {
    color: $darkblue;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
  }
  h3 {
    color: $darkblue;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
  }
  .upload--box {
    background-color: #e9e9f33b;
    width: 100%;
    max-width: 1000px;
    max-height: 100%;
    height: 400px;
    margin-top: 30px;
    border: 2px dashed $silver;
    border-radius: 10px;
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;
    transition: $transition;
    &:hover {
      border-color: #d0d6d1;
    }
    & > p {
      font-weight: 600;
      color: $darkblue;
      text-align: center;
    }
    i {
      font-size: 3rem;
      color: $pink;
      margin-bottom: 20px;
      transition: $transition;
    }
    // .pulse-animation {
    //   animation: pulse 1s alternate infinite;
    //   @keyframes pulse {
    //     from {
    //       transform: scale(1);
    //     }
    //     to {
    //       transform: scale(0.9);
    //     }
    //   }
    // }
    #fileInput {
      display: none;
    }
    .upload--box--code {
      @include flex(center, center);
      gap: 10px;
      margin-bottom: 50px;
      p {
        color: #aeaeb4;
        font-weight: 600;
      }
      input {
        width: 140px;
        background-color: transparent;
        color: $pink;
        text-align: center;
        border: 0;
        border-bottom: 1px solid $lightblue;
        outline: none;
        font-weight: 600;
        &::placeholder {
          color: #b4b4bb;
        }
      }
    }
    #upload--box--selectBtn {
      border: 0;
      background-color: white;
      padding: 12px 25px;
      font-size: 1rem;
      border: 1px solid $lightblue;
      border-radius: 10px;
      font-weight: 500;
      color: #818191;
      transition: $transition;
      &:hover {
        cursor: pointer;
        border-color: $pink;
        color: $pink;
      }
    }
    small {
      color: $lightblue;
      transition: $transition;
    }
    .download--link {
      width: 90%;
      max-width: 500px;
      text-align: center;
      div {
        height: 20px;
        border-radius: 5px;
        position: relative;
        a {
          text-decoration: none;
          color: $pink;
        }
        i {
          font-size: 1rem;
          color: $lightblue;
          margin-left: 10px;
          padding: 3px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: $pink;
            color: white;
          }
        }
      }
      p {
        height: 20px;
        color: #cdcdd5;
        border-radius: 5px;
      }
    }
  }
  #copyMessage {
    position: absolute;
    bottom: -50px;
    color: #aeaeb4;
    font-size: .9rem;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transform: translate(0, 20px);
    transition: $transition;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}
.slide-in-out {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}
